.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 9999;
    will-change: transform;
}

.custom-cursor-dot {
    border-radius: 999px;
    background-color: var(--color-klein);
    opacity: 1;
    transition: transform 400ms ease, background-color 400ms ease;
    will-change: transform;
}
