@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-background: #fafafa;
  --color-foreground: #0f0f0f;
  --color-acid: #c3ff00;
  --color-klein: #0048ff;
  --color-magenta: #ff00a6;

  --font-funnel-display: var(--font-funnel-display), sans-serif;

  --font-sans: var(--font-ibm-plex-sans), Helvetica, sans-serif;
  --font-mono: var(--font-ibm-plex-mono), SFMono-Regular, monospace;
  --font-grotesque: var(--font-bricolage-grotesque), sans-serif;
  --font-title: var(--font-geist), Helvetica, sans-serif;
  --font-serif: var(--font-playfair-display), "Georgia", serif;
}

@utility text-trim-cap {
  text-box: trim-both cap alphabetic;
}

/* 
Dark mode is not designed yet. This is just a placeholder for when I do design it.

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #fafafa;
  }
}
*/

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--font-title), serif;
}

@layer components {
  .separator {
    @apply border-0 border-gray-400;
  }

  .h1-hero {
    @apply text-8xl leading-[0.8] font-bold;
  }

  .large-p {
    @apply text-2xl leading-none;
  }

  .large-link {
    @apply text-5xl leading-none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  isolation: isolate;
}

.custom-cursor-enabled,
.custom-cursor-enabled * {
  cursor: none !important;
}

.text-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

.text-stroke-white {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

.text-stroke-magenta {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-magenta);
  color: transparent;
}

.text-stroke-acid {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-acid);
  color: transparent;
}
