@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
/* 
---break---
*/
@custom-variant dark (&:is(.dark *));

@plugin "@tailwindcss/typography";

@theme {
  --color-background: #fafafa;
  --color-foreground: #0f0f0f;
  --color-acid: #c3ff00;
  --color-klein: #0048ff;
  --color-magenta: #ff00a6;

  --font-funnel-display: var(--font-funnel-display), sans-serif;

  --font-sans: var(--font-ibm-plex-sans), Helvetica, sans-serif;
  --font-mono: var(--font-ibm-plex-mono), SFMono-Regular, monospace;
  --font-grotesque: var(--font-bricolage-grotesque), sans-serif;
  --font-title: var(--font-funnel-display), Helvetica, sans-serif;
  --font-serif: var(--font-playfair-display), "Georgia", serif;

  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-34%);
    }
  }
}

@utility text-trim-cap {
  text-box: trim-both cap alphabetic;

  @supports (-moz-appearance: none) {
    text-box: normal;
    line-height: 0.72;
  }
}

.p {
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--font-title), serif;
}

@layer components {
  .separator {
    @apply pointer-events-none border-0 border-gray-400;
  }

  .h1-hero {
    @apply text-8xl leading-[0.8] font-bold;
  }

  .large-p {
    @apply text-2xl leading-none;
  }

  .large-link {
    @apply text-5xl leading-none;
  }
}

body {
  font-family: var(--font-sans), sans-serif;
  isolation: isolate;
}

.custom-cursor-enabled,
.custom-cursor-enabled * {
  cursor: none !important;
}

.text-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

.text-stroke-white {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

.text-stroke-magenta {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-magenta);
  color: transparent;
}

.text-stroke-acid {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-acid);
  color: transparent;
}

/* GFM task-list normalization */
.contains-task-list {
  list-style: none;
  padding-left: 0;
}

.task-list-item {
  list-style: none;
}

.task-list-item input[type="checkbox"] {
  margin-right: 0.5em;
}
